# AWS Region
AWS_REGION=us-east-2

# DynamoDB
DYNAMODB_TABLE=cosito-inspection-forms

COGNITO_USER_POOL_ID=us-east-2_ZzgagK3pA
COGNITO_CLIENT_ID=59pph587oe689d2t4m0bas8462
COGNITO_IDENTITY_POOL_ID=us-east-2:8b23dcc6-b83f-4070-930f-caf8fa5a49e7
COGNITO_USERNAME=mcp-service@cosito.ai
COGNITO_PASSWORD=Cosito.123!
MCP_API_KEY=d130e079-5a17-4213-8e5e-daa3c6597258
MCP_SERVER_URL = https://srtyddmque4lbcsy5vaimpjrvu0cirvw.lambda-url.us-east-2.on.aws
