# AWS Region
AWS_REGION=us-east-2

# DynamoDB
DYNAMODB_TABLE=cosito-mcp
COGNITO_CLIENT_ID=7sl2g0foput1uheot711nsnegk
COGNITO_CLIENT_SECRET=5bsajml91db418vfj7gk83mhkdrqo2lv2md2iktbq7mjhcgqf16
COGNITO_DOMAIN=https://us-east-135m7jd5he.auth.us-east-1.amazoncognito.com
COGNITO_USER_POOL_ID=us-east-1_35m7jD5hE
MCP_API_KEY=d130e079-5a17-4213-8e5e-daa3c6597258
MCP_SERVER_URL=https://6mbgzkuts2zhmpvyfvfqwrkyay0mjzza.lambda-url.us-east-1.on.aws